/* body {

    box-sizing: border-box;
} */


a {
    display: inline-block;
    width: 260px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #000;
    color: orange;
    font-size: 24px;
    font-family: arial;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
    border: 3px orange solid;
    margin: 20px 15px;
    letter-spacing: 2px;
    transition: 0.3s;
}

a:hover {
    background-color: #333;
    color: white;
    border: 3px black solid;
}