body {
    display: inline-block;
    box-sizing: border-box;
}


body a {
    text-decoration: none;
    background-color: black;
    color: orange;
    font-size: 24px;
    font-family: arial;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
    border: 3px orange solid;
    margin: 20px 15px 20px 15px;
}

a:hover {
    background-color: #333;
    color: white;
    border: black;
}